{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb well">
        <li>Виды работ<span class="divider"></span></li>
        <li>Список сидов работ</li>
        <li>Изменение<span class="divider"></span></li>
    </ul>
{% endblock %}

{% block content %}
    {#<div class="well">#}
        {#<iframe src="{{ path('admin_file_list') }}" class="frame"></iframe>#}
    {#</div>#}
    <div class="well">
        <form method="POST">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .frame{
            width: 100%;
        }
    </style>

{% endblock %}